@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryOrange: theme('colors.primaryOrange');
  --secondaryorange: theme('colors.secondaryOrange');
  --secondaryBackground: theme('colors.secondaryBackground');
  --secondaryText: theme('colors.secondaryText');
  --blueAccent: theme('colors.blueAccent');
}

* {
  font-family: '-apple-system', 'system-ui', 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  background: white;
  max-width: 100vw;
  overflow-x: hidden;
}
